<nav class="navbar navbar-expand-lg sticky-top border-bottom" style="background-color: #1275ED;">
    <div class="container">
        <a href="" style="color: white; text-decoration: none;">deriel.com</a>
        <a href="">/</a>
        <a href="">/</a>
        <a href="">/</a>
        <a href="">/</a>    
        <form class="d-flex">
            <input class="form-control col-6 me-2" type="search" placeholder="Search something..." aria-label="Search">
            <button class="btn btn-primary" style="background-color:#1275ED; outline: #1275ED" type="Submit">
                <i class="bi bi-search" style="color: white"></i>
            </button>
        </form>
        <a href="">/</a>
        <a href="">/</a>
        <a href="">/</a>
        <a href="">/</a>
        <a href="https://instagram.com/rder0106">
            <i class="bi bi-instagram" style="color: white"></i>
        </a>
        <a href="https://x.com/great0106">
            <i class="bi bi-twitter-x" style="color: white"></i>
        </a>
    </div>
</nav>