{% extends "main/base.html" %}

{% block title %}MyBlog{% endblock title %}

{% block content %}

{% include 'main/components/navbar.html' %}

<main class="container mt-5">
    <div class="row">
        <div class="d-none d-md-block col-md-3 border-end sticky-top h-100 z-1 pt-5">
            <h5>Categories</h5>
            <ul>
                <li>
                    <a href="" style="color: black; text-decoration: none;">Category A</a>
                </li>
                <li>
                    <a href="" style="color: black; text-decoration: none;">Category B</a>
                </li>
                <li>
                    <a href="" style="color: black; text-decoration: none;">Category C</a>
                </li>
                <li>
                    <a href="" style="color: black; text-decoration: none;">Category D</a>
                </li>
                <li>
                    <a href="" style="color: black; text-decoration: none;">Category E</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9">
            <div class="row">
                {% for post in posts %}
                    <div class="card col-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}